In [122]:
numbers = input("Type all numbers with spaces: ").split() # take input as list
numbers = [int(num) for num in numbers]
print("All typed numbers: ", numbers)

Type all numbers with spaces:  1

All typed numbers:  [1]

In [123]:
# Take input as map
n1, n2 = map(int, input("Enter 2 numbers with space separated").split())
n1, n2

Enter 2 numbers with space separated 1 2

(1, 2)

In [124]:
# Arithmatic operations
a = 10
b = 3
print("Addition: ", a+b)
print("Subtraction ", a-b)
print("Multiplication ", a*b)
print("Division ", a/b)
print("Modulus ", a%b)
print("Exponentiation ", a**b)
print("Floor division ", a//b)

Addition:  13
Subtraction  7
Multiplication  30
Division  3.3333333333333335
Modulus  1
Exponentiation  1000
Floor division  3

In [125]:
s = "Hello World"
l = list(s)
print("L: ", l)
print(type(l))

L:  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
<class 'list'>

In [126]:
#Parse tuple to list
t = (1, 2, 3)
l = list(t)
print(l)

[1, 2, 3]

In [127]:
# Parse list of tuples to Dict
l = [(1,1), (2,1)]
d = dict(l)
print("Dictionary: ", d)

Dictionary:  {1: 1, 2: 1}

##### Slicing there are 3 types of indexes we can use in slice
##### 1. Start Index: element of this index is included in the slice
##### 2. End Index: element at this index is not included in the slice
##### 3. Step: It's an optional and default value is 1

In [128]:
string = "sliceit" # e.g., indexes of this string like this [0,1,2,3,4,5,6]
print(string[2:5]) # include index 2 element which is 'i' and 5 is end index and element of this index 'i' but in won't come in output

l = [0,1,2,3,4,5,6,7]
l[2:5]

ice

[2, 3, 4]

In [129]:
# Slicing with step
l = [1,2,3,4,5,6,7,8]
sliced = l[1:7:2]
print(sliced)

[2, 4, 6]

In [130]:
# SKIP start index
l = [1,2,3,4,5,6]
print(l[:4])

[1, 2, 3, 4]

In [131]:
# SKIP end index
l = [1,2,3,4,5,6]
print(l[4:])

[5, 6]

In [132]:
# SKIP both start and end index
l = [1,2,3,4,5,6]
sliced_list = l[::4]
print(sliced_list)

[1, 5]

In [133]:
# Negative index in slicing

l = [1, 2, 3, 4, 5, 6, 7, 8]
sliced_list = l[-5:-2]
print(sliced_list)

[4, 5, 6]

In [134]:
print(l[::-1]) # Reverse a list

[8, 7, 6, 5, 4, 3, 2, 1]

In [135]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8]
print( l[0:6:3]   )

[0, 3]

In [136]:
# Ask user to provide an input number continuously, square that when user will enter 5 exit from the loop and when type 4 skip it
while True:
    n = int(input("Type any number: "))
    if n%4 == 0:
        continue
    if n == 5:
        break
    print(n**2)

Type any number:  1

1

Type any number:  5

In [137]:
# Write a for loop that iterates over a list of numbers and prints only the even numbers.
input_list = [1,2,3,4,5,6,7,8]
for i in input_list:
    if i%2 == 0:
        print(i)

2
4
6
8

#### Pattern problems

In [138]:
for j in range(5):
    print('*', end='')

*****

In [139]:
#Write a program to print a N x M matrix of N = 4 (#no of rows) and M = 3 (#no of cols)
for i in range(4):
    for j in range(3):
        print('*', end = '')
    print()

***
***
***
***

In [140]:
# Write program for below stair design
'''
*
**
***
****
*****
'''

'\n*\n**\n***\n****\n*****\n'

In [141]:
ROW = 5
for i in range(ROW):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [142]:
# write program for reverse stair design
'''
******
*****
****
***
**
*
'''

'\n******\n*****\n****\n***\n**\n*\n'

In [143]:
for i in range(ROW):
    for j in range(ROW-i):
        print('*', end='')
    print()

*****
****
***
**
*

In [144]:
# Write centered pyramid
'''
    *
   ***
  *****
 *******
*********
'''

'\n    *\n   ***\n  *****\n *******\n*********\n'

In [145]:
row=5
for i in range(row):
    print(' ' * (row-i+1) + '*' * (2*i+1))

      *
     ***
    *****
   *******
  *********

In [146]:
# Write program for diamond shape
'''   
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
'''

'   \n    *\n   ***\n  *****\n *******\n*********\n *******\n  *****\n   ***\n    *\n'

In [147]:
row=5
for i in range(row):
    print(' ' * (row-1-i) + '*' * (2*i+1))
for i in range(row-1):
    print(' ' * (i+1) + '*' * (2*(row-2-i)+1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

##### Lists operations

In [148]:
# list can hold multiple data types(hoetrogenous), ordered and mutable
num_list = [1,2,3,4,5,6]

In [149]:
num_list.append(7)

num_list.extend([11,12,13])
num_list

[1, 2, 3, 4, 5, 6, 7, 11, 12, 13]

In [150]:
num_list.remove(2)
num_list

[1, 3, 4, 5, 6, 7, 11, 12, 13]

In [151]:
num_list.pop()
num_list

[1, 3, 4, 5, 6, 7, 11, 12]

In [152]:
num_list.pop(1)
num_list

[1, 4, 5, 6, 7, 11, 12]

In [153]:
num_list.sort()
num_list

[1, 4, 5, 6, 7, 11, 12]

In [154]:
num_list.append([8,9,15,10])
num_list

[1, 4, 5, 6, 7, 11, 12, [8, 9, 15, 10]]

In [155]:
def filter_even_number(numbers):
    evennumbers = []
    return [numb for numb in numbers if numb%2 == 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(filter_even_number(numbers))

[2, 4, 6, 8, 10]

In [156]:
def filter_string(strings, length):
    return [string for string in strings if len(string) > 5]

strings = ["apple", "banana", "cherry", "kiwi", "mango"]
length=5
print(filter_string(strings, length))

['banana', 'cherry']

In [157]:
def count_char_frequency(string):
    freq = {}
    unique_char = set(string)
    for char in unique_char:
        if char != ' ':
            freq[char] = string.count(char)
    return freq
print(count_char_frequency("apple pie"))

{'l': 1, 'e': 2, 'a': 1, 'p': 3, 'i': 1}

In [158]:
def is_pangram(string):
    array = [0]*26
    string = string.lower()
    for s in string:
        if s != ' ':
            array[ord(s) - 97] += 1
    for l in array:
        if l == 0: 
            return False
    return True
print(is_pangram("The quick brown fox jumps over the lazy dog"))

True

In [159]:
def reverse_sentence(sentence):
    sentence = sentence.split()
    reverse_string = sentence[::-1]
    return reverse_string

sentence = "Hello world, how are you?"
print(reverse_sentence(sentence))

['you?', 'are', 'how', 'world,', 'Hello']

In [160]:
def find_missing_number(list_):
    missing_number = []
    max_number = max(list_)
    for i in range(0, max_number+1):
        if i not in list_:
            missing_number.append(i)

    return missing_number
list_ = [1, 2, 3, 5]
print(find_missing_number(list_))

[0, 4]

In [161]:
def common_elements(list1_, list2_):
    elements = []
    for i in list2_:
        if i in list1_:
            elements.append(i)
    return elements
list1_ = [1,2,3,4]
list2_ = [3,4,5,6]
print(common_elements(list1_, list2_))

[3, 4]

In [162]:
def count_vowels(string):
    vowel_frequency = {}
    vowels = 'aeiou'
    string = string.replace(' ', '')
    for char in vowels:
        if char in string:
            vowel_frequency[char] = string.count(char)
    frequency = sum(vowel_frequency.values())
    return vowel_frequency, frequency
text = "Hello, how are you?"
print(count_vowels(text))

({'a': 1, 'e': 2, 'o': 3, 'u': 1}, 7)

In [163]:
def count_words(string):
    all_words = string.split(' ')
    return len(all_words)
text = "This is a sample sentence."
print(count_words(text))

5

In [164]:
def length_string(list_):
    count = []
    for word in list_:
        count.append(len(word))
    return count
strings = ["Hello", "world", "Python", ""]
print(length_string(strings))

[5, 5, 6, 0]

In [165]:
def is_palindrome(word):
    word = str(word)
    reverse = word[::-1]
    return word == reverse
list_=['radar', 'level', 'gain', 143, 282]
for word in list_:
    print(is_palindrome(word))

True
True
False
False
True

In [166]:
def fibonacci(n):
    fib_array = [0, 1]
    if len(fib_array) == n:
        return fib_array[-1]
    else:
        while len(fib_array) < n:
            next_element = fib_array[-1] + fib_array[-2]
            fib_array.append(next_element)
        return fib_array[-1]
print(fibonacci(10))

34

In [167]:
def reverse_string(string):
    word_list = []
    for s in string.strip().split():
        word_list.append(s)
    print(word_list)
    return ' '.join(word_list[::-1])
string = "I am human kind of thing"
print(reverse_string(string))

['I', 'am', 'human', 'kind', 'of', 'thing']
thing of kind human am I

In [168]:
def list_flatten(list_):
    flatten_list = []
    for l in list_:
        if isinstance(l, list):
            flatten_list.extend(l)
        else:
            flatten_list.append(l)
    return flatten_list
nested_list = [1, [2, 3], [4, 5, 6], 7]
print(list_flatten(nested_list))

[1, 2, 3, 4, 5, 6, 7]

In [200]:
# Pallindrome with for-loop
def is_pallindrome_with_loop(str_):
    front=0
    last=len(str_)-1
    while front < last:
        if str_[front] != str_[last]:
            return False
        front+=1
        last-=1
        
    return True
print(is_pallindrome_with_loop("1bcb1"))

True

In [204]:
# Count blank spaces in string
str_ = 'Hi, how are you?'
count=0
for i in str_:
    if i == ' ':
        count+=1
print(count)

3

In [202]:
# Write a program to Reversing a String without using reverse().
def reverse_string(str_):
    return str_[::-1]
print(reverse_string('Hi how are you?'))

?uoy era woh iH

In [211]:
arr = [-1,0,1,2,3,4,5,6,7,8,9]

print(arr[::2])

[-1, 1, 3, 5, 7, 9]

In [217]:
s1 = {2,3,4}
s1.add(5)
print(s1)
print(type(s1))

{2, 3, 4, 5}
<class 'set'>

In [218]:
pop_ = s1.pop()
print(pop_)
print(s1)

2
{3, 4, 5}

In [221]:
s2 = {5, 6, 7}
print("S1: ", s1)
print("S2: ", s2)

S1:  {3, 4, 5}
S2:  {5, 6, 7}

In [223]:
print(s1 | s2) #Union operation

{3, 4, 5, 6, 7}

In [225]:
print(s1 & s2)

{5}

In [228]:
print(s1 - s2)

{3, 4}

In [229]:
print(s1 ^ s2) #Symetric difference

{3, 4, 6, 7}

In [230]:
dict_ = {'name': 'Vicky', 'city': 'Gzb'}
print(type(dict_))

<class 'dict'>

In [231]:
dupl_dict_ = dict(name='Vinay', city='Noida')
print(dupl_dict_)

{'name': 'Vinay', 'city': 'Noida'}

In [233]:
print(dupl_dict_.get('name'))

Vinay

In [234]:
print(dupl_dict_.items())
print(dupl_dict_.keys())
print(dupl_dict_.values())

dict_items([('name', 'Vinay'), ('city', 'Noida')])
dict_keys(['name', 'city'])
dict_values(['Vinay', 'Noida'])

### Higher order functions
- function that can take other functions as arguments and/or return functions as outputs

In [1]:
def square(x):
    return x*x

def apply_on_list_items(func, list_):
    return [func(x) for x in list_]

l = [2, 4, 6, 8]
print(apply_on_list_items(square, l))

[4, 16, 36, 64]

#### **map** We can perform above operation using map because **map takes function and iterable as arguments and returns a new iterable**

In [2]:
list(map(square, l))

[4, 16, 36, 64]

#### **filter** takes function and iterable as arguments and **returns a new iterable that contain only the item from the original iterable**

In [4]:
def is_even(x):
    return x%2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(is_even, l))

[2, 4, 6, 8]

#### **reduce** takes a function and an iterable as arguments and **returns a single value** that is the result of reducing the iterable to a single value using the function

In [5]:
from functools import reduce

def add(a, b):
    return a+b
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reduce(add, l)

55

#### **Lambda functions(annonymous function)** are small functions that are restricted to a single expression

In [6]:
# Square 
square = lambda x: x*x
print(square(5))

25

In [7]:
# With multiple arguments
sum = lambda a, b : a+b
print(sum(1, 2))

3

In [11]:
# Print even numbers
even_numbers = list(filter(lambda n: n%2 == 0, l))

print(even_numbers)

[2, 4, 6, 8, 10]

In [13]:
# Sqaure using lambda

list((lambda x: x**2)(x) for x in l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]